.App {
  text-align: center;
}

.app-header{
  text-align: center;
}

.app-container{
  padding: 10px;
}

.add-btn {
  background-color: #4c7ed4;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn {
  background-color: #d44c77;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
}

.submit-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

.card-header {
  font-weight: 500;
}

.author {
  display: flex;
  align-items: center;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drag-item {
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: white;
  margin: 0 0 8px 0;
  display: grid;
  grid-gap: 20px;
  flex-direction: column;
}

.drag-item:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.drag-item:hover {
  cursor: grab;
}

.low {
  background-color: #6ab04c;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}

.medium {
  background-color: #ffbf00;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}

.high {
  background-color: #e74c3c;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}



.drag-drop-container {
  padding: 20px;

}

.list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin-top: 20px;
}

.column-header{
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid #9a9999;
  font-weight: 600;
  padding-bottom: 5px;
}

.droppable{
  padding: 10px;
  border-radius: 6px;
  background: #d4d4d4;
}

.min-height{
  min-height: 200px;
}






